div {
  background: #222;
  margin-bottom: 20px;
  color: white;
}

img {
  max-width: 100%;
}

.outside {
  height: 150px;
}

.short{
  height: 100px;
}

.tall {
  height: 200px;
}

.inside {
  height: 100%;
}
