body {
  background: #222;
  color: white;
}

img {
  max-width: 100%;
}

div{
  background-color: green;
}

.outside {
  height: 100px;
}

.foo {
  background-color: red;
}

.bar {
  background-color: blue;
}

.fiz{
  background-color: blue;
}

.baz {
  background-color: green;
}
